body {
    margin: 0;
    text-align: center;
    background-color: #F4F4F4;
}

.hero {
    background: #6943fe;
    color: white;
    padding: 30px;
}

.main {
    background: #f4f4f4;
    padding: 5px;
}

.section {
    background: white;
    padding: 5px;
    margin: 10px;
}

input {
    margin-top: 30px;
    border: solid 2px;
    border-radius: 5px;
    border-color: #B295FF;
    background-color: #6943FF;
    width: 115px;
    height: 80px;
    font-size: 58px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}

button {
    margin-top: 30px;
    width: 125px;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
